body {
    margin:0;
    padding:0;
}

#scroller {
    
}

#pos {
    position: absolute;
    left: 100px;
    top: 10px;
}

#deltas {
    position: absolute;
    left: 300px;
    top: 10px;
}

#deltaXInts {
    position: absolute;
    left: 750px;
    top: 10px;
}
#deltaYInts {
    position: absolute;
    left: 850px;
    top: 10px;
}